<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="CKO - Myget" value="https://checkout.myget.org/F/ckotech/auth/19eb4fb5-8d2f-4e6d-a744-609291223762/api/v3/index.json" />
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>